h1,
p,
footer {
  text-align: center;
}

body {
  background-color: #f8e8a6;
}

footer a {
  margin: 0 10px;
  color: green;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
